@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

:root {
    --cor-texto: #000;
    --cor-links: #FF9142;

    --font-destaque: 'Syne', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

#inicio  {
    background-color: #FF9142;
    height: 100vh;
    display: block;
    text-align: center;
}

.apresentacao {
    background-color: #FF9142;
    height: 100vh;
}

/* texto */

.texto-apresentacao {
    padding: 200px 0px 5px 0px;
    color: #fff;
    font-family: var(--font-destaque);
    font-weight: 700;
    font-size: 72px;
}

/* termino do texto */

/* botão */

button {
    padding: 15px 100px 15px 100px;
    /*padding: 1.3em 3em;*/
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #1a1a1a;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
button:hover {
    color: #fff;
    transform: translateY(-7px);
}
  
button:active {
    transform: translateY(-1px);
}

/* termino do botão */